<?xml version="1.0" encoding="utf-8"?>
<!--
    Diary - Personal diary for Android
    Copyright © 2012  Josep Portella Florit <hola@josep-portella.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.billthefarmer.diary"
    tools:ignore="GoogleAppIndexingWarning"
    android:versionCode="103"
    android:versionName="1.03"
    android:installLocation="auto">

  <uses-sdk
      tools:ignore="OldTargetApi"
      android:minSdkVersion="14"
      android:targetSdkVersion="22"/>

  <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission
      android:name="android.permission.INTERNET"/>
  <!--
      This next declaration - android.permission.READ_PHONE_STATE is
      here to prevent the android build system from making it up as it
      goes along
  -->
  <uses-permission
      android:name="android.permission.READ_PHONE_STATE"
      tools:node="remove" />

  <application
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/appName"
      android:theme="@style/AppTheme"
      tools:replace="android:label">

    <activity
        android:label="@string/appName"
        android:name="Diary"
        android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name="DiaryCalendar"
        android:theme="@style/DialogTheme" />
    <activity
        android:label="@string/settings"
        android:name="Settings" />

  </application>

</manifest>
