<?xml version="1.0" encoding="utf-8"?>
<!--
    Diary - Personal diary for Android
    Copyright © 2012  Josep Portella Florit <hola@josep-portella.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_CALENDAR" />
  <uses-permission android:name="android.permission.WRITE_CALENDAR" />
  <uses-permission android:name="android.permission.INTERNET" />

  <meta-data
      android:name="android.webkit.WebView.MetricsOptOut"
      android:value="true" />

  <application
      android:allowBackup="true"
      android:supportsRtl="true"
      android:usesCleartextTraffic="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/appName"
      android:theme="@style/AppDarkTheme"
      tools:ignore="AllowBackup">

    <activity
        android:name="Diary"
        android:exported="true"
        android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
        <data android:mimeType="audio/*" />
        <data android:mimeType="video/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <action android:name="android.intent.action.SEND_MULTIPLE" />

        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="geo" />
      </intent-filter>
    </activity>

    <activity
        android:name="Editor"
        android:exported="true"
        android:windowSoftInputMode="stateHidden|adjustResize">
      <intent-filter
          android:scheme="http"
          tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.EDIT" />

        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
      </intent-filter>
    </activity>

    <activity
        android:name="Settings"
        android:label="@string/settings" />

    <receiver
        android:name="DiaryWidgetProvider"
        android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/widget" />
    </receiver>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="org.billthefarmer.diary.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths" />
    </provider>

  </application>

</manifest>
